<!doctype html>
<html lang="{{app.locale}}">
<head>
	<meta charset="UTF-8">
	<title>{{app.ksu.title}}</title>
	{# STYLES #}
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/public/css/reset.css">
	<link rel="stylesheet" href="/static/public/css/style.css">
	{# SCRIPTS #}
	<script defer src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script defer src="/static/public/javascript/Statesman.min.js"></script>
	<script defer src="/static/public/javascript/index.js"></script>
	<script>
	var Config={
		version:"{{app.ksu.version}}",
		title:"{{app.ksu.title}}"
	}
	</script>	
</head>
<body>
	<section>
		<noscript><h1>Please enable javascript to view this page.</h1></noscript>
		<div id="spinner" class="spinner"></div>
		{#contains gallery widget #}
		<section id="gallery-container">
			<div class="gallery-controls">
				<button class="previous"> </button>
				<button class="next"> </button>
			</div>
			<article class="summary">
				<h1 role="title">:title</h1>
				<section>
					<div>Project: <span role="project">:project.title</span></div>
					<div>Client: <span role="client">:client</span></div>
					<div role="description">:description</div>
				</section>
			</article>
			<div id="gallery" class="gallery">
				<figure></figure>
			</div>
		</section>
		<section id="container" class=" hidden">
			<hgroup class="container">
				<header>
					<h1>{{app.ksu.title}}</h1>
					<hr>
					<h3 class="center text-muted">
						{{app.ksu.subtitle}}<br>
					</h3>
				</header>
			</hgroup>
			<footer><section class="container">programming - marc paraiso <mparaiso@online.fr></section></footer>
		</section>
	</section>
</body>
</html>