<!doctype html>
<html lang="{{ app.settings.language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title app.settings.title ~ " - " ~ app.settings.subtitle %}</title>
    <meta name="description" content="{{ app.settings.subtitle }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <!--http://www.mattcutts.com//blog/google-supports-meta-noodp-tag/-->
    <meta name="robots" content="NOYDIR,NOODP"/>
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    {% block opengraph %}

        <meta property="fb:app_id" content="{{ app.settings.facebookAppId }}"/>
        <meta property="og:site_name" content"{{ app.settings.title }}"/>
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:title" content="{{ app.settings.title }}"/>
        {% if image is defined %}
            <meta property="og:image" content="{{ url('image_load',{imageId:image.id,extension:image.extension}) }}"/>
            <meta property="og:description" content="{{ image.description }}"/>
        {% else %}
            <meta property="og:description" content="{{ app.settings.subtitle }}"/>
        {% endif %}
        <!--google verification -->
        <meta name="google-site-verification" content="{{ app.settings.googleSiteVerification }}"/>
    {% endblock %}
    {% block twittercard %}
        {% if image is defined %}
            <meta name="twitter:site" content="{{ app.settings.twitterUsername }}">
            <meta name="twitter:creator" content="{{ app.settings.twitterUsername }}">
            <meta name="twitter:card" content="photo"/>
            <meta name="twitter:title" content="{{ image.description }}"/>
            <meta name="twitter:image" content="{{ url('image_load',{imageId:image.id,extension:image.extension}) }}"/>
        {% endif %}
    {% endblock %}
    {% block styles %}
        <!-- STYLES -->

    {% endblock %}
    {% block scripts %}
        <!-- SCRIPTS -->
        <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script defer src="/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
        <script defer src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script defer src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script defer src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script defer src="/static/javascript/Model.js"></script>
        <script defer src="/static/javascript/index.js"></script>
        <!-- scripts -->
        <script defer type="text/javascript">
            var Config = {
                version: "{{app.ksu.version}}",
                title: "{{app.settings.title}}",
                subtitle: "{{app.settings.subtitle}}",
                contactEmail: "{{app.settings.contactEmail}}",
                projectResource: "{{path('public_project_resource')}}",
                pageResource: "{{path('public_page_resource')}}",
                menuResource: "{{ path('public_menu_resource') }}",
                googleAnalyticsId: "{{app.settings.googleAnalyticsId}}"
            }
        </script>
    {% endblock %}
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.
</p>
<![endif]-->
{% block content %}
{% endblock %}
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script defer type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', Config.googleAnalyticsId, 'ksenia-pirovskikh.rhcloud.com');
    ga('send', 'pageview');

</script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/style.css">
<style type="text/css">
    body {
        color: {{ app.settings.textColor|default('#444') }};
        background-color: {{ app.settings.backgroundColor|default('#EFEFEF') }};
    }

    .muted {
        color: {{ app.settings.textMuted|default('#AAA') }};
    }

    .primary {
        color: {{ app.settings.primaryColor|default('#20a3ea') }};
    }

    .secondary {
        color: {{ app.settings.primaryColor|default('#20a3ea') }};
    }

    .ternary {
        color: {{ app.settings.primaryColor|default('#20a3ea') }};
    }
</style>
</body>
</html>
